:global input {
  border-style: hidden;
  text-indent: 4px;
  border-radius: 10px;
  background-color: rgba(199, 199, 199, 0.062);
  color: white;
}

:global input[name='task'] {
  width: 100%;
}

:global input:focus {
  outline: none;
}

:global input[type='checkbox'] + label {
  text-decoration: none;
}

:global input[type='checkbox']:checked ~ label {
  text-decoration: line-through;
  color: gray;
}

#tasks {
  display: inline-block;
}

#oneTask {
  padding: 0;
  height: auto;
}

#oneTask form {
  display: inline-block;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}

#oneTask form input[type='checkbox'] {
  float: left;
}

#oneTask form label {
  overflow-wrap: anywhere;
  overflow: hidden;
  vertical-align: middle;
  padding-right: 0;
}

#oneTask td {
  vertical-align: middle;
  padding-top: 0;
  padding-bottom: 0;
}

#delete {
  float: right;
}

#delete:hover {
  cursor: pointer;
}
