input {
  border-style: hidden;
  background-color: rgb(241, 241, 241);
}

input:focus {
  outline: none;
}

input[type=checkbox] + label {
  text-decoration: none;
}

input[type=checkbox]:checked + label {
  text-decoration: line-through;
}
