#date_num {
  font-size: 15px;
  color: gray;
  padding-top: 0;
}

#day_header {
  display: block;
  margin-bottom: 0;
  border-bottom: 1px solid rgb(99, 99, 99);
}

#expandButton {
  margin: 0px;
  float: right;
}

#expandButton:hover {
  cursor: pointer;
}
