#date_num {
  font-size: 15px;
  color: gray;
  padding-top: 0;
}

#day_header {
  display: block;
  margin-bottom: 0;
  border-bottom: 1px solid rgb(99, 99, 99);
}

#expandButton {
  margin: 0px;
  float: right;
}

#expandButton:hover {
  cursor: pointer;
}

#archive_button {
  padding: 0px;
  text-align: center;
  font-size: 19px;
}

#archive_button button {
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.082);
  border: 2px solid rgba(255, 255, 255, 0.253);
  color: rgb(211, 211, 211);
  font-size: 13px;
  padding: 0% 0.5%;
}

#archive_button button:hover {
  cursor: pointer;
}